* {
    margin: 0px;
    padding: 0px;
}

#nav-before {
    height: 40px;
    background-color: #005df4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
}

#nav-before button {
    height: 25px;
    border: 0ch;
    margin-right: 7px;
    border-radius: 35%;
    font-size: 12px;
    padding: 5px;
    font-weight: bold;
}

#nav-before a {
    color: white;
}

.navbar {
    width: 90%;
    height: 100px;
    margin: auto;
    background-color: white;
    display: flex;
    /* border: 1px solid; */
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    position: sticky;
}

.navbar img {
    height: 100px;
    margin: 0px;
}

.navbar>ul {
    list-style-type: none;
    text-align: center;
    margin-left: 200px;
}

.navbar>ul>li {
    float: left;
    width: 150px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

.navbar ul li ul li {
    display: none;
    background-color: white;
}

.navbar ul li:hover ul li {
    display: block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0px;
}

.navbar ul li a {
    text-decoration: none;
    line-height: 52px;
    color: black;
    display: block;
}

.navbar ul li a:hover {
    text-decoration: underline;
}

#btans {
    margin-top: 25px;
}

#btans button {
    padding: 10px;
    font-size: 20px;
}

#btn1 {
    border: 0px;
    background-color: white;
    color: #005df4;
}

#btn1:hover {
    text-decoration: underline;
    cursor: pointer;
}

#btn2 {
    background-color: #005df4;
    border: 0px;
    width: 180px;
    color: white;
    border-radius: 10px;
}

#btn2:hover {
    cursor: pointer;
    background-color: #005df4;
    opacity: 0.7;
}

.dropdown li {
    border: 1px solid;
}

#top-menu {
    width: 90%;
    height: 100px;
    margin: auto;
    border: 1px solid;
    display: flex;
    font-size: 25px;
    align-items: center;
    justify-content: center;
}

#section1 {
    height: 130px;
    width: 60%;
    margin: auto;
    border: 1px solid;
    display: flex;
    align-items: center;
}

#channels p {
    display: inline-block;
    padding: 7%;
    border: 1px solid;
}

#channels button {
    padding: 7% 5%;
    font-size: 18px;
}

#cart {
    height: 500px;
    width: 85%;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    margin-top: 20px;
}

#cart>div,
#cart2 {
    height: 470px;
    width: 27%;
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    padding: 20px;
    line-height: 1.7;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#cart p i,
#cart2 p i {
    display: inline-block;
    margin-top: 5px;
    color: #005df4;
    /* text-align: center; */
}

#cart p,
#cart2 p {
    font-size: 15px;
}

#cart div div p,
#cart2 div div p {
    font-weight: bold;
}

#cart h1,
#cart2 h1 {
    margin-right: 20px;
}

#cart button,
#cart2 button {
    padding: 10px;
    width: 100%;
    font-size: 20px;
    margin: 20px 0px;
    background-color: #005df4;
    color: white;
    border: 0px;
    border-radius: 10px;
}

#cart button:hover,
#cart2 button:hover {
    cursor: pointer;
    background-color: #0357de;
}

.price {
    display: flex;
    margin: 15px 0px;
}